# do not add the contents of these folders
temp-env/
.vscode/
vscode
__pycache__/
*.py[cod]
.env
env

# deployment-specific files
secret_key.txt

# database files (should never be distributed)

*.sqlite3